html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.layui-form .layui-form-item:last-child {
	margin-bottom: 0;
}

.layui-form-label.required:before {
	display: inline-block;
	margin-right: 4px;
	content: "*";
	font-family: SimSun, serif;
	line-height: 1;
	font-size: 13px;
	color: #f5222d;
}

.layui-elem-quote {
	display: flex;
	align-items: center;
}

.layui-elem-quote > .layui-breadcrumb {
	overflow-x: auto;
	width: 100%;
	white-space: nowrap;
}

.nav-right {
	display: flex;
}

.nav-right > * {
	width: 25px;
	height: 25px;
	text-align: center;
}

.layui-form-item.form-icon {
	position: relative;
}

.layui-form-item.form-icon label {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 38px;
	line-height: 36px;
	text-align: center;
	color: #d2d2d2;
}

.layui-form-item.form-icon input {
	padding-left: 36px;
}

#login .code-item {
	display: flex;
	align-items: center;
}

#login .code-img > img {
	width: 90px;
	height: 36px;
	margin-left: 5px;
	border: 1px solid #666;
	box-sizing: border-box;
}

.folder_desc {
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.layui-table-cell.laytable-cell-1-0-6 {
	overflow: visible;
}

.layui-table-cell.laytable-cell-1-0-6 .layui-form-select input {
	height: 28px;
}

.layui-table-tool-temp {
	padding-right: unset;
}

.table-toolbar > [lay-event="change"] {
	margin-left: 0;
}

.layui-table-box > .layui-table-body {
	margin-bottom: 0;
}

.layui-table-page .layui-laypage .layui-laypage-limits {
	display: none;
}

.layui-upload {
	padding: 5px;
	box-sizing: border-box;
}

.upload-select {
	width: 100%;
	box-sizing: border-box;
}

.layui-upload-list {
	max-width: calc(100vw - 40px);
	max-height: calc(100vh - 284px);
	overflow-y: auto;
}

@media screen and (max-width: 480px) {
	.layui-upload {
		width: calc(100vw - 30px);
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	.layui-upload {
		width: 80vw;
	}
}

@media screen and (min-width: 768px) {
	.layui-upload {
		width: 600px;
	}
}